extends layout

block content
  h1= title
  form(action="/signup", method="post")
    div
      label Username:
      input(type="text", name="username", pattern=".{2,16}", required)
    div
      label Password:
      input(type="password", name="password", pattern=".{6,20}", required)
    div
      input(type="submit", value="Sign up")
