doctype html
html
  head
    title= title
  body
    nav
      ul(style="display: flex;list-style:none;")
        li(style="margin: 0 1em;")
          a(href="/") Home
        li(style="margin: 0 1em;")
          a(href="/login") Login
        li(style="margin: 0 1em;")
          a(href="/logout") Logout
    block content
